.container {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-family: sans-serif;
}
th,
td {
  text-align: left;
  padding: 20px;
}
th {
  background: #069c54;
  color: white;
  padding: 20px;
}
td:first-child {
  box-shadow: inset 1px 1px 1px 1px #000000, inset 0px -11px 8px -10px #f5f0f0,
    inset 11px 0px 8px -10px #f5f0f0;
}
td {
  box-shadow: inset 0px 1px 1px 1px #000000, inset 0px 11px 8px -10px #000000;
}
td:last-child {
  box-shadow: inset 1px 1px 1px 1px #000000, inset 0px -11px 8px -10px #f5f0f0,
    inset 11px 0px 8px -10px #f5f0f0;
}
